.imgMovie {
  width: 70%;
  height: 70%;
  min-height: 27vw;
}

.movieTitle {
  color: #26c485;
  margin: auto auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
}

.carouselContainer {
  margin-top: 20px;
}

.imgSlideContainer {
  text-align: center;
}

.react-multiple-carousel__arrow::before {
  color: #26c485;
}
