.displayMoviesContainer {
    width: 20vw;
    font-size: 0.5rem;
}

.displayImage {
 width: 80%;
 height: 80%;
}

.containerDisplay {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 100px auto
}