.home {
  margin-top: 60px;
}
.homeTitle {
  color: #26c485;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px green;
}

.CookieConsent > div > p {
  font-family: Arial, Helvetica, sans-serif;
}
.CookieConsent > div > button {
  width: 5rem;
}

@media all and (max-width: 439px) {
  .CookieConsent > div > p {
    text-align: center;
  }
  .CookieConsent > div > button {
    width: 30vw;
  }
  .CookieConsent > div:nth-child(2) {
    margin: auto auto;
  }
}
