.detailsContainer {
  margin-top: 60px;
  display: flex;
  flex: 1;
  flex-direction: row;
  color: #26c485;
  font-family: "Open Sans", sans-serif;
  flex-wrap: wrap;
}
.detailsImage {
  margin: 8vh 30px;
  box-shadow: 0px 0px 9px 2px #26c485;
  width: 26vw;
}
.detailsInfos {
  margin: 5vh auto;
  width: 60vw;
  text-align: center;
}

.detailsInfos > h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  text-shadow: 1px 1px 2px green;
}

.detailsInfos > p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.detailsInfos > h3 {
  margin: 0 auto 20px auto;
  border: 3px solid #26c485;
  border-radius: 40px;
  width: 10rem;
  font-size: 1.2rem;
}

.circleBar{
  margin: auto auto 10px auto;
  width: 4vw;
}

.detailsInfos > .score {
  margin-top: 1px;
  margin-bottom: 10px;
}