@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
nav {
  background-color: black;
  padding: 5px, 40px;
  border-bottom: 2px solid #26c485
}

.navLink {
  flex: 1;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  margin-right: 20px;
}

.navLink li.logo {
  font-family: "Fugaz One", cursive;
  flex: 1;
  font-size: 1.1rem;
  margin: auto 48px;
  margin-top: 5px;
}

.navLink li.link {
  padding: 15 0px;
  cursor: pointer;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  margin: 0 16px;
  text-align: center;
  font-size: 0.90rem;
  font-weight: 600;
  order: 3;
}

.navLink li.link:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  bottom: -9px;
  height: 2px;
  background: #26c485;
  opacity: 0;
  transition: all 0.2s linear;
}

.navLink li.link:hover:after {
  opacity: 1;
  bottom: -4px;
}

.navSection:hover {
  color: #26c485;
  transition: 0.4s;
}

.navLink li.btn {
  margin: 6px 0 0 0;
  display: none;
}

.search {
  position: relative;
  right: 20vw;
  top: -1rem;
}
.searchMobile {
  display: none
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  .search {
   display: none;
  }
  .searchMobile {
    display: block
  }
  .titleLogo {
    font-size: 23px;
    margin-top: 5px;
  }
  .navLink li.logo {
    text-align: center;
    margin-left: 80px;
    margin-top: 0;
  }
  .navLink li.link {
    width: 100%;
    margin: 30px 0;
  }
  .navLink li.link:hover {
    box-shadow: 0 0 5px #26c485;
  }
  .navLink li.link:after {
    box-shadow: 0 0 5px #26c485;
    border-radius: 5px;
    transition: 0.3s;
  }
  .navLink li.btn {
    cursor: pointer;
    display: block;
  }
  .hidden {
    display: none;
  }
}

@media all and (min-width: 1300px) {
  .search {
    right: 28vw;
  }
}
