.container {
  position: absolute;
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  z-index: 1;
}

.container:hover > .searchTxt {
  opacity: 1;
  width: 210px;
  padding: 0 6px;
}

.container:hover > .searchBtn {
  background: white;
  color: #26c485;
}


.searchBtn {
  position: sticky;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #26c485;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
}

.searchTxt {
  transform: translate(5%, -160%);
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.5s;
  width: 0px;
  font-weight: bold;
  flex-wrap: nowrap;
  opacity: 0;
}


@media all and (max-width: 900px) {
    .searchTxt {
        opacity: 1;
        width: 210px;
        padding: 0 6px;
      }
      
      .searchBtn {
        background: white;
        color: #26c485;
      }
}